<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sc2d.tile">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:label="SC2D Tile"
        android:supportsRtl="true">

        <service
            android:name=".QsTile"
            android:label="SC2D"
            android:icon="@drawable/ic_tile"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

    </application>
</manifest>
